App {
  text-align: center;
}

h1, h2 {
  color: #333;
  margin-bottom: 20px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  background-color: #f9f9f9;
}

.Input {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.place {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #c3c3c3;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
